@import '../../node_modules/vuetify/src/stylus/main.styl'
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i')

$white = #FFFFFF
$cadetBlue = #5F9EA0
$gainsboro = #DCDCDC
$blueMaterial = #1976D2

.m-l-10
  margin-left 10px !important

.full-width
  width 100%
.center-content
  display flex
  justify-content center
  align-items center

.application
  font-family 'Lato', sans-serif !important

#login
    .login-form
      max-width 300px

      .welcome
        span
          color $white
          font-size 18px

      .box
        .box-header
          border-bottom 1px solid gainsboro
          padding 10px 0

          span
            font-size 20px

.v-list__tile
  padding 0 !important


